html {

}
body {
  color: #767A83;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  height: 300rem;
}

h2 {
  font-size: 1.5rem;
}
h3 {

}

h4 {

}

p {
  font-size: .7rem;
  padding-top: .4rem

}

.full-wrapper {
  display: grid;
  grid-template-columns: 1fr 5.5fr;
  grid-template-rows: 1fr;
  height: -webkit-fill-available;

}
/*Side Nav Bar*/

.side-nav-column {
  background-color: #354053;
  color: #F9FFFF;
  height: -webkit-fill-available;
}

.image-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-bottom: 2px #2C3849 solid;
  justify-content: center;
  align-content: center;
  height: 10rem;

}

.newton-image {
  display: grid;
  grid-row: 1/2;
  border-radius: 50%;
  margin: 0;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

.newton-text-arrow {
  height: 2rem;
  padding-bottom: 1rem;
} 

.newton-text {
  font-size: .8rem;
  text-align: center;

}
.newton-arrow {
  padding: 0 0 0 .5rem;
  width: .7rem;
}

.nav-bar-items {
  color: #B8C3D5;
  padding: 0 0 0 1.5rem;
}

.main-nav {
  border-bottom: 1px #2C3849 solid;
}

.main-title {
  font-size: .1rem;
  padding: .5rem 0;
}

.main-icons {
  width: .7rem;
  padding: 0 .5rem 0 0;
}

.main-items {
  font-size: .7rem;
  padding: .5rem 0;
}

.admin-nav {
  border-bottom: 1px #2C3849 solid;
  padding: .5rem 0;

}

.admin-title {
  font-size: .1rem;
  padding: .5rem 0;

}

.admin-items {
  font-size: .7rem;
  padding: .5rem 0;

}


.admin-icons {
  width: .7rem;
  padding: 0 .5rem 0 0;

}
.categories-nav {
  border-bottom: 1px #2C3849 solid;
  padding: .5rem 0;

}

.categories-title {
  font-size: .1rem;
  padding: .5rem 0;
}

.categories-items {
  font-size: .7rem;
  padding: .5rem 0;

}

.category-icons {
  width: .7rem;
  padding: 0 .5rem 0 0;
}

.category-icons:checked {
  content: url(Icons/yellow-checked-01.svg);
}


/*Main Content*/

.main-wrapper {
  background-color: #EEF2F6;
  display: grid;
  grid-template-rows: 1fr 1.33fr 3.33fr;
  height: -webkit-fill-available;

}

.search-title-row {
  background-color: #FFFFFF;
  display: grid;
  grid-row: 1/2;
}

.search-bar {
  display: flex;
  height: 4rem;
  justify-content: stretch;
}

.search-btns {
  padding: 1rem;
  margin: 0;
  width: 5.5rem;
}

.search-btn1 {
  background: white url("Icons/hamburger-menu-active.svg") no-repeat 40% 50%/ 50%;
}

.search-btn2 {
  background: white url("Icons/follow-gray-01.svg") no-repeat 50% 50%/ 35%;
}

.search-btn3 {
  background: white url("Icons/calendar-gray-01.svg") no-repeat 50% 50%/ 35%;
}

.search-btn4 {
  background: white url("Icons/menu-squares-gray.svg") no-repeat 50% 50%/ 35%;
}

.search-input {
  border-width: 0 0 1px 0;
  padding: 0 0 0 1rem;
  width: -webkit-fill-available;
}

/*location-nav Row*/

.list-nav-bar {
  padding: 2rem 2rem;
}
/*Image Row*/

.image-row {
  background-color: #EDF2F6;
  border-bottom: 1px solid #D6DBE0;
  display: grid;
  grid-row: 2/3;
  padding: 2rem;
}

.image-row-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pie-charts-and-btn {
  display: grid;
  align-content: center;
}

.svg-pie-chart {
  display: flex;
  justify-content: center;
  align-content: center;
}

.pie-chart-btn {
  align-content: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

.bar-graphs {
  display: grid;
  align-content: center;
  justify-content: center;
}
.bar-graph {
  height: 10rem;
}

/*Horizontal Nav Bar*/
.horizontal-nav-bar {
  display: inline;
}

.horizontal-navs {
  display: inline;
}

/*Main Body*/

.main-body {
  background-color: #EDF2F6;
  /*display: grid;*/
  /*grid-template-columns: 2fr, 1fr;*/

}

.title-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0 0 0;
  padding: 0 2rem;
}

.location-icon-title {
  height: .8rem
}

.title-buttons {
  display: flex; 
  justify-content: flex-end;
}

.title-btn-open {
  height: 2rem;
  border-radius: 2rem;
  width: 5rem;
}

.title-btn {
  border-radius: 50%;
  height: 2rem; 
  width: 2rem;
}


.job-description-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 2rem;
  height: -webkit-fill-available;
  width: 40rem;
}

.form-title {
  align-items: center;
  background-color: #FFF;
  display: grid;
  font-weight: 700;
  grid-column: 1/2;
  line-height: 1rem;
  padding: 0 0 0 2rem;
}

.pencil-icon {
  padding-right: .5rem;
  width: .7rem;
}

.form-btn {
  background-color: #808CAA;
  margin: 1rem 0;
  border: 0
}

.form-text {
  align-items: center;
  background-color: #fff;
  border: none;
  display: grid;
  grid-column: 2/3;
}

.form-row1 {
  background-color: #6F7E95; 
  color: #F9FFFF;
}

.form-row8 {
  display: inline;
}
.main-body {
  background-color: #EEF2F6;
  display: grid;
  grid-row: 3/4;
  height: -webkit-fill-available;

}

/*Main Body Right*/

.right-body-section {
  grid-column: 2/3;
  padding: 2rem;
  width: 15rem;
  height: -webkit-fill-available;

}

.social-btn-section {
  display: grid;
  justify-content: center;
  align-content: center;
}

